.Row {
  color: white;
  margin-left: 20px;
  margin-top: 30px;
}

.Row h2 {
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.Row__posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px 0;
  gap: 10px;
}

.Row__posters::-webkit-scrollbar {
  display: none;
}

.Row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 140px;
  transition: transform 350ms;
  border-radius: 6px;
  cursor: pointer;
}

.Row__poster:hover {
  transform: scale(1.12);
}

.Row__posterLarge {
  max-height: 260px;
}

.Row__posterLarge:hover {
  transform: scale(1.18);
}
