@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;900&display=swap");
:root {
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Lexend", sans-serif;

  --background-color: #111;
  --primary-color: #ffffff;
  --secondary-color: #e50914;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  font-family: var(--font-primary);
  color: var(--primary-color);
  width: 100%;
  overflow: hidden;
}